<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<!-- inject-css css/{{ css }}.css -->
</head>
<body>

	<div id="container">
		{% include "partial/header.njk" %}

		<article class="content">
			{% block content %} {% endblock %}
		</article>

		{% include "partial/footer.njk" %}
	</div>
</body>
</html>