<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<!-- the default css file is <filename>.less. If you would like
		to use multiple .less files, create the default .less file
	    and import the other .less files into it using @import.
		For example, the default css file for login.njk is 
		login.less. To use common.less as well, login.less must
	    import it. -->
	<!-- inject-css css/{{ css }}.css -->
	<script src="js/{{ js }}.js" defer inline></script>
</head>
<body>

	<div id="container">
		{% include "partial/header.njk" %}

		<article class="content">
			{% block content %} {% endblock %}
		</article>

		{% include "partial/footer.njk" %}
	</div>
</body>
</html>