<nav id="nav" class="lce-nav">
    <img id="nav-close" class="nav-close" src="/asset/x.svg">
    <a class="learn-nav-button" href="learn.html">learn</a>
    <a class="connect-nav-button" href="connect.html">connect</a>
    <a class="explore-nav-button" href="explore.html">explore</a>
</nav>