<nav class="lce-nav">
    <a class="learn-nav-button" href="learn.html">learn</a>
    <a class="connect-nav-button" href="connect.html">connect</a>
    <a class="explore-nav-button" href="explore.html">explore</a>
</nav>