<header class="header">
	<div class="header-top">
		<div class="header-top-left">
			<a href="/" class="smart-logo-header">
				<img class="smart-logo" src="asset/logo.png">
			</a>
		</div>
		<div class="header-end">
			<div class="header-top-center">
				<div class="logos">
					<a href="twitter-link">
						<img src="twitter-logo">
					</a>
					<a href="facebook-link">
						<img src="facebook-logo">
					</a>
					<a href="instagram-link">
						<img src="instagram-logo">
					</a>
					<a href="youtube-link">
						<img src="youtube-logo">
					</a>
				</div>
			</div>
			<div class="header-top-right">
				<a href="/login.html" class="login-button">
					Log In
				</a>
			</div>
		</div>
	</div>
	<div class="header-bot">
		<div class="header-bot-left">
			<div class="icon-categories">
				<img src="categories-icon">
			</div>
		</div>
		<div class="header-bot-right">
			<div class="icon-search">
				<img src="search-icon">
			</div>
			<input type="text" id="header-search" class="header-search" placeholder="Search keywords, events, articles&hellip;">
		</div>
	</div>
</header>