<header class="header">
	<div class="header-top">
		<div class="header-top-left">
			<a href="/" class="smart-logo-header">
				<img class="smart-logo" src="asset/logo.png">
			</a>
		</div>
		<div class="header-end">
			<div class="header-top-center">
				<div class="logos">
					<a class="social-media-icon" href="https://twitter.com/studentmmj">
						<img src="/asset/twitter.png">
					</a>
					<a class="social-media-icon" href="https://www.facebook.com/StudentMMJAlliance/">
						<img src="/asset/facebook.png">
					</a>
					<a class="social-media-icon" href="https://www.instagram.com/studentmmjalliance/">
						<img src="/asset/instagram.png">
					</a>
					<a class="social-media-icon" href="https://www.youtube.com/">
						<img src="/asset/youtube.png">
					</a>
				</div>
			</div>
			<div class="header-top-right">
				<a href="/login.html" class="login-button">
					Login
				</a>
			</div>
		</div>
	</div>
</header>