@import "main";
@import "action";

article {
    height: 220px;
    width: 370px;
    padding: 18px 20px;
    color: white;
    background: linear-gradient(#000, transparent), url("./asset/test.jpg") center;
    background-size: cover;
}

.article-title {
    display: inline;
    font-weight: bold;
    padding-right: 5px;
}

.article-dateline {
    display: block;
    padding-top: 12px;
}