@import "main";

@color-action-bg: #454545;
@color-action-fg: @color-accent;
@color-search-placeholder: #878787;

@height-action: 40px;
@offset-action: 16px;

#action-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: (@height-header - @offset-action);
    left: 10%;
    width: 80%;
    height: @height-action;
    background-color: @color-action-bg;
}

.action-section() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    background-color: @color-action-fg;
    padding: 0px 20px;
    color: white;
}

.action-center {
    .action-section();
    flex-grow: 1;
    background-color: transparent;
    padding: 0px;
}

.action-left {
    .action-section();
}

.action-right {
    .action-section();
}

#search {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 19px;
    color: white;
    border: none;
    padding: 0px 50px;
}

#search::placeholder {
    color: @color-search-placeholder;
}
