@import "reset";

@color-body-text: #000;
@color-accent: #04bf00;

@color-header-bg: #f0f0f0;
@color-header-text: @color-body-text;
@color-action-bg: #454545;
@color-search-placeholder: #878787;

@font-body: 'Helvetica', sans-serif;
@font-size-logo: 24px;

@height-header: 90px;
@height-action: 40px;
@offset-action: 16px;

body {
    display: flex;
    flex-direction: column;
    font-family: @font-body;
}

#page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: @color-header-bg;
    color: @color-header-text;
    height: @height-header;
    padding: 0px 50px 25px 90px;
}

.header-section() {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header-left {
    .header-section();
}

.header-right {
    .header-section();
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: @font-size-logo;
    font-style: italic;
}

.logo-smart {
    font-weight: bold;
    text-transform: uppercase;
}

.header-tab {
    font-style: italic;
    text-transform: uppercase;
    padding: 0px 33px;
}

.selected.header-tab {
    font-weight: bold;
    color: @color-accent;
}

#login-tab {
    padding: 0px 0px 0px 11px;
}

#action-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: (@height-header - @offset-action);
    left: 10%;
    width: 80%;
    height: @height-action;
    background-color: @color-action-bg;
}

.action-section() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    background-color: @color-accent;
    padding: 0px 20px;
}

.action-center {
    .action-section();
    flex-grow: 1;
    background-color: transparent;
    padding: 0px;
}

.action-left {
    .action-section();
}

.action-right {
    .action-section();
}

#search {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 19px;
    color: white;
    border: none;
    padding: 0px 50px;
}

#search::placeholder {
    color: @color-search-placeholder;
}
