{% extends "layout.njk" %}

{% block title %}SMART{% endblock %}

{% block content %}
<article class="article">
	<div class="title-line">
		<h1 id="title" class="title"></h1>
		<span id="author" class="by-line"></span>
	</div>
	<div id="date" class="date-line"></div>
	<div id="article-body" class="article-body">
		<div id="image" class="article-image"></div>
	</div>
</article>
{% endblock %}
