{% extends "layout.njk" %}

{% block title %}Explore - SMART{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="dialogue">
        <div class="intro-row">
    		<h1 class="intro">Find events near me!</h1>
            <select id="city-select" class="city-select">
            </select>
        </div>
		<div id="calendar" class="calendar">
		</div>
	</div>
</div>
{% endblock %}
