{% extends "layout.njk" %}

{% block title %}Explore - SMART{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="dialogue">
        <div class="title-row">
    		<h1 class="title">Find events near me!</h1>
            <select class="city-select">
                <option class="city-option" value="boston-ma">Boston, MA</option>
                <option class="city-option" value="los-angeles-ca">Los Angeles, CA</option>
                <option class="city-option" value="providence-ri">Providence, RI</option>
            </select>
        </div>
		<div class="calendar">
			<iframe src="https://calendar.google.com/calendar/b/1/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=brown.edu_4lvmifevdpg2vpqs1kvlb28rh8%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</div>
{% endblock %}