{% extends "layout.njk" %}

{% block title %}Connect - SMART{% endblock %}

{% block content %}
	<div id="wrapper">
		<div class="welcome">
			<div class="welcome-students">
				<h2 class="welcome-header">Students</h2>
				<p class="welcome-text">Log in to search for internships, research opportunities, funding, and connections in the SMART Community.</p>
				<a class="welcome-button" href="/job-list.html">
					Get started
				</a>
			</div>
			<div class="welcome-employers">
				<h2 class="welcome-header">Employers</h2>
				<p class="welcome-text">Support SMART by posting internships, research opportunities, and funding.</p>
				<a class="welcome-button" href="https://docs.google.com/forms/d/e/1FAIpQLSeNg9o2mNyW-S857GjtSPnohprz2snmd3_ESrHwX7yxT9X7DQ/viewform" target="_blank">
					Post opportunity
				</a>
			</div>
		</div>
		<div class="about">
			<div class="about-left">
				<div class="about-header">
					SMARTConnect is all about everything.
				</div>
				<div class="about-content">
					This is probably the greatest thing that's ever happened in my life. Put your feelings into it, your heart, it's your world. Maybe we got a few little happy bushes here, just covered with snow. Let's build some happy little clouds up here. Trees live in your fan brush, but you have to scare them out.
				</div>
			</div>
		</div>
	</div>
{% endblock %}