{% extends "layout.njk" %}

{% block title %}Connect - SMART{% endblock %}

{% block content %}
	<div id="wrapper">
		<div class="welcome">
			<div class="welcome-students">
				<h2 class="welcome-header">Students</h2>
				<p class="welcome-text">Log in to search for internships, research opportunities, funding, and connections in the SMART Community.</p>
			    <div class="hello-search-row">
			    	<input type="text" class="hello-search" placeholder="Search SMART connect&hellip;">
			        <a class="search-button" href="/job-search.html">
			            Get started
			        </a>
			    </div>
			</div>
			<div class="welcome-employers">
				<h2 class="welcome-header">Employers</h2>
				<p class="welcome-text">Support SMART by posting internships, research opportunities, and funding.</p>
				<a class="welcome-button" href="/create-opportunity.html" target="_blank">
					Post opportunity
				</a>
			</div>
		</div>
		<div class="about">
			<div class="about-column">
				<div class="about-header">
					New Opportunities
				</div>
				<div class="job">
		            <h3 class="job-title">Title</h3>
		            <p class="job-description">Organization</p>
		            <p class="job-description">Providence, RI</p>
		            <p class="job-description">full-time, paid</p>
		            <p class="job-description">Application Deadline: 4/20/2018</p>
		            <div class="job-interact">
		                <a href="job-result.html#420" class="read-more">Read More</a>
		                <a href="https://www.example.com/external-domain" class="apply">Apply</a>
		            </div>
		        </div>
				<div class="job">
		            <h3 class="job-title">Title</h3>
		            <p class="job-description">Organization</p>
		            <p class="job-description">Providence, RI</p>
		            <p class="job-description">full-time, paid</p>
		            <p class="job-description">Application Deadline: 4/20/2018</p>
		            <div class="job-interact">
		                <a href="job-result.html#420" class="read-more">Read More</a>
		                <a href="https://www.example.com/external-domain" class="apply">Apply</a>
		            </div>
		        </div>
				<div class="job">
		            <h3 class="job-title">Title</h3>
		            <p class="job-description">Organization</p>
		            <p class="job-description">Providence, RI</p>
		            <p class="job-description">full-time, paid</p>
		            <p class="job-description">Application Deadline: 4/20/2018</p>
		            <div class="job-interact">
		                <a href="job-result.html#420" class="read-more">Read More</a>
		                <a href="https://www.example.com/external-domain" class="apply">Apply</a>
		            </div>
		        </div>
			</div>
			<div class="about-column">
				<div class="about-header">
					Upcoming Events
				</div>
				<div class="event">
					<div class="event-left">
						<div class="event-month">Apr</div>
						<div class="event-date">20</div>
					</div>
					<div class="event-right">
						<a href="https://www.example.com/google-calendar-event/327483" class="event-title">Random event</a>
						<div class="event-right-row">
							<div class="event-question">When:</div>
							<div class="event-answer">1:00pm to 3:30pm</div>
						</div>
						<div class="event-right-row">
							<div class="event-question">Where:</div>
							<div class="event-answer">CareerLab, 167 Angell Street, 1st Floor</div>
						</div>
					</div>
				</div>
				<a href="calendar.html" class="see-more-events">
				 	See all...
			 	</a>
			</div>
		</div>
	</div>
{% endblock %}
