{% extends "layout.njk" %}

{% block title %}Disclaimer - SMART{% endblock %}

{% block content %}
<div class="simple">
	<h1 class="title">Disclaimer</h1>
	<p class="text">
		The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. A fan brush is a fantastic piece of equipment. Use it. Make friends with it. Life is too short to be alone, too precious. Share it with a friend. I can't think of anything more rewarding than being able to express yourself to others through painting.
	</p>
	<p class="text">
		With practice comes confidence. Just a happy little shadow that lives in there. That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. Everybody needs a friend. This is probably the greatest thing to happen in my life - to be able to share this with you.
	</p>
</div>
{% endblock %}