{% extends "layout.njk" %}

{% block title %}FAQ - SMART{% endblock %}

{% block content %}
<div class="faqs">
	<h1 class="title">Frequently Asked Questions</h1>
	<h2 class="question">What is Marijuana?</h2>
	<p class="answer">Marijuana—also called weed, herb, pot, grass, bud, ganja, Mary Jane, and a vast number of other slang terms—is a greenish-gray mixture of the dried flowers of Cannabis sativa. Some people smoke marijuana in hand-rolled cigarettes called joints; in pipes, water pipes (sometimes called bongs), or in blunts (marijuana rolled in cigar wraps).</p>
	<h2 class="question">What is a Weed?</h2>
	<p class="answer">Globally, marijuana (cannabis) is the most commonly used illicit drug. Classified as a Schedule 1 controlled substance, marijuana is a mood-altering (psychoactive) drug that affects almost every organ in the body.</p>
	<h2 class="question">What is Marijuana?</h2>
	<p class="answer">Marijuana—also called weed, herb, pot, grass, bud, ganja, Mary Jane, and a vast number of other slang terms—is a greenish-gray mixture of the dried flowers of Cannabis sativa. Some people smoke marijuana in hand-rolled cigarettes called joints; in pipes, water pipes (sometimes called bongs), or in blunts (marijuana rolled in cigar wraps).</p>
	<h2 class="question">What is a Weed?</h2>
	<p class="answer">Globally, marijuana (cannabis) is the most commonly used illicit drug. Classified as a Schedule 1 controlled substance, marijuana is a mood-altering (psychoactive) drug that affects almost every organ in the body.</p>
	<h2 class="question">What is Marijuana?</h2>
	<p class="answer">Marijuana—also called weed, herb, pot, grass, bud, ganja, Mary Jane, and a vast number of other slang terms—is a greenish-gray mixture of the dried flowers of Cannabis sativa. Some people smoke marijuana in hand-rolled cigarettes called joints; in pipes, water pipes (sometimes called bongs), or in blunts (marijuana rolled in cigar wraps).</p>
	<h2 class="question">What is a Weed?</h2>
	<p class="answer">Globally, marijuana (cannabis) is the most commonly used illicit drug. Classified as a Schedule 1 controlled substance, marijuana is a mood-altering (psychoactive) drug that affects almost every organ in the body.</p>
	<h2 class="question">What is Marijuana?</h2>
	<p class="answer">Marijuana—also called weed, herb, pot, grass, bud, ganja, Mary Jane, and a vast number of other slang terms—is a greenish-gray mixture of the dried flowers of Cannabis sativa. Some people smoke marijuana in hand-rolled cigarettes called joints; in pipes, water pipes (sometimes called bongs), or in blunts (marijuana rolled in cigar wraps).</p>
	<h2 class="question">What is a Weed?</h2>
	<p class="answer">Globally, marijuana (cannabis) is the most commonly used illicit drug. Classified as a Schedule 1 controlled substance, marijuana is a mood-altering (psychoactive) drug that affects almost every organ in the body.</p>
</div>
{% endblock %}
