{% extends "layout.njk" %}

{% block title %}SMART{% endblock %}

{% block content %}
<div id="wrapper">
	<div class="lce-block">
		<a class="learn-button" href="learn.html">learn</a>
		<a class="connect-button" href="connect.html">connect</a>
		<a class="explore-button" href="explore.html">explore</a>
	</div>
	<div class="block">
		<h2 class="block-header">
			About us
		</h2>
		<div class="block-content">
			<div class="block-content-column-large">
				Anything you want to do you can do here. Let's make a nice big leafy tree. Once you learn the technique, ohhh! Turn you loose on the world; you become a tiger. Don't fiddle with it all day. You have freedom here. The only guide is your heart. You're meant to have fun in life.
			</div>
			<div class="block-content-column-small">
				Nature is so fantastic, enjoy it. Let it make you happy. You create the dream - then you bring it into your world. Pretend you're water. Just floating without any effort. Having a good day. You have to make almighty decisions when you're the creator. The first step to doing anything is to believe you can do it. See it finished in your mind before you ever start. Trees grow in all kinds of ways. They're not all perfectly straight. Not every limb is perfect.
			</div>
		</div>
	</div>
	<div class="quote-block">
		<div class="quote">
			&ldquo;You can do anything here - the only pre-requisite is that it makes you happy. Maybe there's something happening right here. Now we'll take the almighty fan brush.&rdquo;
		</div>
	</div>
	<div class="block">
		<h2 class="block-header">
			Our objectives
		</h2>
		<div class="block-content">
			<p class="block-content-column-large">
				So often we avoid running water, and running water is a lot of fun. Decide where your cloud lives. Maybe he lives right in here.
			</p>
			<p class="block-content-column-small">
				If it's not what you want - stop and change it. Don't just keep going and expect it will get better. Just let this happen. We just let this flow right out of our minds. That's a son of a gun of a cloud. Volunteering your time; it pays you and your whole community fantastic dividends. Only eight colors that you need. This is a happy place, little squirrels live here and play.
			</p>
		</div>
	</div>
	<div class="block">
		<h2 class="block-header">
			Our partners
		</h2>
		<div class="partners-content-outer">
			<div class="partners-content-inner">
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
				<a href="https://www.example.com/external-link">
					<img class="partner" alt="alt-text" title="title-text" src="asset/partner-abc.png"/>
				</a>
			</div>
		</div>
	</div>
	<div class="block">
		<h2 class="block-header">
			SMART press
		</h2>
		<div class="block-content">
			<div class="press-left">
				<div class="profile">
					<img class="profile-image" src="https://instagram.fzty1-2.fna.fbcdn.net/vp/fc3024a0c0f5983cdc2a671b03d7e61f/5B7082BC/t51.2885-19/s150x150/18380373_119132521992110_7264672563953926144_a.jpg">
					<p class="profile-description">
						SMART 🌿💡 Student Marijuana Alliance for Research &amp; Transparency 🌱🌐 Education &bull; Research &bull; Careers High Times College Cannabis Eventbrite 🎓🌿📲 
					</p>
				</div>
				<div class="profile">
					<img class="profile-image" src="http://example.com/profile-abc.jpg">
					<p class="profile-description">
						Don't hurry. Take your time and enjoy. We don't want to set these clouds on fire. When you buy that first tube of paint it gives you an artist license. Those great big fluffy clouds. Let's have a happy little tree in here.
					</p>
				</div>
			</div>
			<div class="press-right">

				<!-- placeholder in case we want something in place of instagram, such as twitter? which now bands feed readers -->
			</div>
		</div>
	</div>
	<div class="start-chapter-block">
	</div>
</div>

{% endblock %}