{% extends "layout.njk" %}

{% block title %}SMART{% endblock %}


{% block content %}
<div id="wrapper">
	<div class="lce-block">
		<a class="learn-button" href="learn.html">learn</a>
		<a class="connect-button" href="connect.html">connect</a>
		<a class="explore-button" href="explore.html">explore</a>
	</div>
	<div class="about-block">
	</div>
	<div class="objectives-block">
	</div>
	<div class="partners-block">
	</div>
	<div class="press-block">
	</div>
	<div class="start-chapter-block">
	</div>
</div>

{% endblock %}