{% extends "layout.njk" %}

{% block title %}SMART{% endblock %}


{% block content %}
<div id="wrapper">
	<div class="lce-block">
		<a class="learn-button" href="learn.html">learn</a>
		<a class="connect-button" href="connect.html">connect</a>
		<a class="explore-button" href="explore.html">explore</a>
	</div>
	<div class="about-block">
		<h2 class="block-header">
			About us
		</h2>
		<div class="block-content">
			<div class="block-content-column-large">
				Anything you want to do you can do here. Let's make a nice big leafy tree. Once you learn the technique, ohhh! Turn you loose on the world; you become a tiger. Don't fiddle with it all day. You have freedom here. The only guide is your heart. You're meant to have fun in life.
			</div>
			<div class="block-content-column-small">
				Nature is so fantastic, enjoy it. Let it make you happy. You create the dream - then you bring it into your world. Pretend you're water. Just floating without any effort. Having a good day. You have to make almighty decisions when you're the creator. The first step to doing anything is to believe you can do it. See it finished in your mind before you ever start. Trees grow in all kinds of ways. They're not all perfectly straight. Not every limb is perfect.
			</div>
		</div>
	</div>
	<div class="objectives-block">
	</div>
	<div class="partners-block">
	</div>
	<div class="press-block">
	</div>
	<div class="start-chapter-block">
	</div>
</div>

{% endblock %}