{% extends "job.njk" %}

{% block results %}
<h2 class="results-count">
    23 Search Results
</h2>
<div class="results-block">
	<div class="filter-column">
        <label class="container">Filter 1
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">Filter 2
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">Filter 3
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
	</div>
	<div class="results-column">
        <div class="job">
            <h3 class="job-title">Title of position - summer</h3>
            <p class="job-description">from organization</p>
            <p class="job-description">location: Providece, RI</p>
            <p class="job-description">short description</p>
            <p class="job-description">paid, full-time</p>
            <p class="job-description">application deadline: 4/20/2018</p>
            <div class="job-interact">
                <a href="job-result.html#195" class="read-more">Read More</a>
                <a href="https://www.example.com/external-link" class="apply">Apply</a>
            </div>
        </div>
        <div class="job">
            <h3 class="job-title">Title of position - summer</h3>
            <p class="job-description">from organization</p>
            <p class="job-description">location: Providece, RI</p>
            <p class="job-description">short description</p>
            <p class="job-description">paid, full-time</p>
            <p class="job-description">application deadline: 4/20/2018</p>
            <div class="job-interact">
                <a href="job-result.html#195" class="read-more">Read More</a>
                <a href="https://www.example.com/external-link" class="apply">Apply</a>
            </div>
        </div>
        <div class="job">
            <h3 class="job-title">Title of position - summer</h3>
            <p class="job-description">from organization</p>
            <p class="job-description">location: Providece, RI</p>
            <p class="job-description">short description</p>
            <p class="job-description">paid, full-time</p>
            <p class="job-description">application deadline: 4/20/2018</p>
            <div class="job-interact">
                <a href="job-result.html#195" class="read-more">Read More</a>
                <a href="https://www.example.com/external-link" class="apply">Apply</a>
            </div>
        </div>
	</div>
</div>

{% endblock %}