{% extends "job.njk" %}

{% block results %}
<h2 class="results-count">
    Search Results
</h2>
<div class="results-block">
	<div class="filter-column">
        <label class="container">Filter 1
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">Filter 2
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">Filter 3
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
	</div>
	<div id="results" class="results-column">
        <!-- Injected when search API call returns -->
	</div>
</div>

{% endblock %}
