{% extends "layout.njk" %}

{% block title %}Jobs - SMART{% endblock %}

{% block content %}
<div class="search-block">
</div>
<div class="links-block">
	<div class="recommended-column">
	</div>
	<div class="resources-column">
		<h3>
			Recommended for you
		</h3>
	</div>
</div>

{% endblock %}