{% extends "layout.njk" %}

{% block title %}Jobs - SMART{% endblock %}

{% block content %}
<div class="hello">
    <div class="hello-top">Hi <span class="name">Nadir</span>,</div>
    <div class="hello-bottom">Search for internships, research opportunities, funding opportunities, and alumno connections in the SMART Community.</div>
    <div class="hello-search-row">
    	<input type="text" class="hello-search" placeholder="Search SMART connect&hellip;">
        <a class="search-button" href="/job-post.html">
            Get started
        </a>
    </div>
</div>
<div class="links-block">
	<div class="recommended-column">
	</div>
	<div class="resources-column">
		<h3>
			Get TODO
		</h3>
	</div>
</div>

{% endblock %}