{% extends "job.njk" %}

{% block results %}
<div class="links-block">
	<div class="recommended-column">
	</div>
	<div class="resources-column">
		<h3>
			Content
		</h3>
	</div>
</div>

{% endblock %}