{% extends "layout.njk" %}

{% block title %}How to smoke{% endblock %}

{% block content %}
<div id="main-content" class="main-content">
	<h1 class="title">How to smoke</h1>
	<!-- articles added after API call returns -->
</div>
{% endblock %}
