{% extends "layout.njk" %}

{% block title %}How to smoke{% endblock %}

{% block content %}
<h1 class="section-title">How to smoke</h1>
<div class="main-content">
	<div class="article">
		<img class="article-image" src="/asset/article-abc.jpg">
		<div class="article-content">
			<div class="article-header">
				<h2 class="article-title">
					How to properly inhale
				</h2>
				<div class="byline">
					by Rotomoto
				</div>
			</div>
			<div class="miniline">
				Apr 20, 2018
			</div>
			<div class="summary">
				Let all these things just sort of happen. Just let this happen. We just let this flow right out of our minds. Anytime you learn something your time and energy are not wasted.
			</div>
			<div class="miniline">
				via PR0HBTD
			</div>
		</div>
	</div>
</div>
{% endblock %}
