{% extends "layout.njk" %}

{% block title %}Learn - SMART{% endblock %}

{% block content %}
<div class="section">
	<div class="section-header">
		<h2 class="header-text">How to smoke</h2>
		<a href="/learn-topic.html" class="header-link">See all&hellip;</a>
	</div>
	<div class="section-body">
		<div class="article-large">
			<div class="article-title">
				Newest Article
			</div>
			<div class="article-byline">
				by Article Author
			</div>
		</div>
		<div class="article-small">
			<div class="article-small-image">
			</div>
			<div class="article-small-title">
				Article Title
			</div>
			<div class="article-small-byline">
				by Article Author
			</div>
		</div>
		<div class="article-small">
			<div class="article-small-image">
			</div>
			<div class="article-small-title">
				Article Title
			</div>
			<div class="article-small-byline">
				by Article Author
			</div>
		</div>
		<div class="article-small">
			<div class="article-small-image">
			</div>
			<div class="article-small-title">
				Article Title
			</div>
			<div class="article-small-byline">
				by Article Author
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h2 class="header-text">Decriminalization</h2>
		<a href="/learn-topic.html" class="header-link">See all&hellip;</a>
	</div>
	<div class="section-body">
		<div class="article-large">
			<div class="article-title">
				Newest Article
			</div>
			<div class="article-byline">
				by Article Author
			</div>
		</div>
		<div class="article-small">
			<div class="article-small-image">
			</div>
			<div class="article-small-title">
				Article Title
			</div>
			<div class="article-small-byline">
				by Article Author
			</div>
		</div>
		<div class="article-small">
			<div class="article-small-image">
			</div>
			<div class="article-small-title">
				Article Title
			</div>
			<div class="article-small-byline">
				by Article Author
			</div>
		</div>
		<div class="article-small">
			<div class="article-small-image">
			</div>
			<div class="article-small-title">
				Article Title
			</div>
			<div class="article-small-byline">
				by Article Author
			</div>
		</div>
	</div>
</div>
{% endblock %}
