{% extends "layout.njk" %}

{% block content %}
<div class="wrapper">
	<div class="dialogue">
		<div class="dialogue-inner">
			<div class="dialogue-title">
				<img class="dialogue-title-logo" src="asset/logo.png">
			</div>
			<div class="dialogue-subtitle">
				login to get started
			</div>
			<input type="text" class="dialogue-text-input" placeholder="username">
			<input type="password" class="dialogue-text-input" placeholder="password">
			<button class="dialogue-submit">
				Login
			</button>
		</div>
	</div>
</div>
{% endblock %}