// Defines the relevant constants that describe the page

// Main colors:
@color-grey:                  #999999;
@color-black:                 #000000;
@color-accent:                #0f0;
@color-alternate:             #36b;
@color-white:                 #ffffff;


// Colors
@color-header-light:          #dddddd;
@color-header-dark:           #999999;
@color-header-black:          #000000;
@color-login-dialogue-outer:  #999999;
@color-login-dialogue-inner:  #ffffff;
@color-login-dialogue-border: @color-black;
@color-login-dialogue-submit: @color-accent;
@color-text-grey:             #999999;
@color-text-black:            #000000;
@color-text-white:            @color-white;
@color-text-block-title:      @color-alternate;
@color-text-block:            @color-text-black;
@color-quote-fg:              @color-text-white;
@color-quote-bg:              @color-alternate;
@color-chapter-button-bg:     @color-alternate;
@color-chapter-button-text:   @color-text-white;
@color-connect-students:      @color-accent;
@color-connect-employers:     @color-alternate;


// Font Families
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@font-family-main: 'Roboto', sans-serif;
@font-family-title:          @font-family-main;
@font-family-footer:         @font-family-main;
@font-family-login:          @font-family-main;
@font-family-login-dialogue: @font-family-main;
@font-family-lce-button:     @font-family-main;
@font-family-quote:          @font-family-main;
