// Defines the relevant constants that describe the page

// Colors
@color-header-light: #ddd;
@color-header-dark: #999;
@color-header-black: #fff;


// Font Families
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@font-family-main: 'Roboto', sans-serif;

// Fonts
@font-family-footer: @font-family-main;
@font-family-login: @font-family-main;
