// Defines the relevant constants that describe the page

// Colors
@color-header-light:          #dddddd;
@color-header-dark:           #999999;
@color-header-black:          #000000;
@color-login-dialogue-outer:  #999999;
@color-login-dialogue-inner:  #ffffff;


// Font Families
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@font-family-main: 'Roboto', sans-serif;
@font-family-footer:         @font-family-main;
@font-family-login:          @font-family-main;
@font-family-login-dialogue: @font-family-main;
