@import "reset";
@import "config";

@header-border: 1px solid @color-header-light;

.header {
	display: flex;
	flex-direction: column;
}

.row() {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-row() {
	.row();
	border-bottom: @header-border;
}

.footer-row() {
	.row();
	border-top: @header-border;
}

.header-top {
	.header-row();
	height: 60px;
	justify-content: space-between;
}

.header-top-left {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.smart-logo-header {
	padding-left: 20px;
}

.smart-logo {
	height: 28px;
	width: 90px;
}

.header-end {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 30px;
}

.login-button {
	font-family: @font-family-login;
	font-weight: 400;
	font-style: italic;
	font-size: 22px;

	text-transform: uppercase;
	margin-left: 20px;
}

.header-bot {
	.header-row();
	justify-content: space-between;
	height: 40px;
}

.header-bot-left {
	width: 130px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icon-categories {
	height: 30px;
	width: 30px;
}

.header-bot-right {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

.icon-search {
	height: 30px;
	width: 30px;
	margin: 0px 10px;
}

.header-search {
	display: flex;
	flex-grow: 1;
	height: 100%;
}

.footer {
	.footer-row();
	justify-content: space-between;
	height: 40px;
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.footer-left {
	display: flex;
	flex-direction: row;
	margin-left: 30px;
}

.footer-separator {
	padding: 0px 8px;
}

.footer-right {
	margin-right: 20px;
}